#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contentQuote{
  background-color: lightgray;
  height: 40vh;
  width: 80vw;
  padding: 3rem;
  margin: 0 auto;
}
.contentQuote button{
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  color: aliceblue;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 50px;
  width: 50px;
  margin: auto;
  margin-left: 52vw;
}
.contentQuote h2{
  padding: 2.3rem;
 margin-left: 30vw;

}
.fa-quote-left{
  font-size: 52px;
  padding: 0 3rem;
}
